<div>
  Read more about the<a href="{% post_url 2016-08-01-about-starterkit-series %}"> Starterkit Series</a>
</div>
<div>
  Read more about the<a href="{% post_url 2016-08-02-about-software-engineering-series %}"> Software Engineering Series</a>
</div>
<br/>
<div style="float:left;padding-top:60px;padding-left:15px;">
  <img width=150px height=194px src = {{ site.url }}/res/erlixir.jpeg alt="book title page erlangandelixirforimperativeprogrammers" />
  <p style="font-size:10px;color:#516063;text-align:center"><strong>Published August 2016</strong></p>
</div>
<div style="display:block;padding-left:180px;padding-top:10px;padding-bottom:10px;padding-right:10px;background-color: #e7e8a4;">
  <h5>Erlang &amp; Elixir for Imperative Programmers</h5>
  <p>Last year I started developing an application that needs a very reliable, fast and error resilient web service. Once I knew the requirements I also knew the technology: Erlang. What is good enough for a telecommunication router should be more than enough for my service.</p>
  <p>During development I realized that many more object-oriented or imperative programmers will go through similar experiences like I did. So I decided to write a book about it.</p>
  <p>It goes through the implementation of part of the project I am working on and touches a few topics that are not normally discussed, like deployment of mixed Erlang/Elixir projects, continuous delivery and modeling of Erlang/OTP applications.</p>
  <p>You can download a sample for free or buy the book here: <a href="https://leanpub.com/erlangandelixirforimperativeprogrammers)">Leanpub - Erlang and Elixir for Imperative Programmers</a>.</p>
</div>
<div class="breaker"></div>
<br/>
<div style="float:left;padding-top:60px;padding-left:15px;">
  <img width=150px height=194px src = {{ site.url }}/res/elm_title.jpg alt="book title page webapplictionswithelm" />
  <p style="font-size:10px;color:#516063;text-align:center";><strong>Work in Progress</strong></p>
</div>
<div style="display:block;padding-left:180px;padding-top:10px;padding-bottom:10px;padding-right:10px;background-color: #c0e3e8;">
  <h5>Web Applications with Elm</h5>
  <p>Elm is a functional language based on the concept of Functional Reactive Programming.  I am using Elm and its libraries to develop an editor for a content management system. And I am writing a book about it.</p>
  <p>You can download a sample for free or buy the book here: <a href="https://leanpub.com/webapplicationswithelm)">Leanpub - Web Applications with Elm</a>.</p>
  <br/><br/>  <br/><br/>
</div>
<div class="breaker"></div>
<br/>
<div style="float:left;padding-top:60px;padding-left:15px;">
  <!-- <img width=150px height=194px src = {{ site.url }}/res/hackingeditors.jpeg alt="TBD" /> -->
  <div style="width:150px; height:194px; padding-left: 10px; padding-top: 30px">Image TBD</div>
  <!-- <p style="font-size:10px;color:#516063;text-align:center"><strong>Planned</strong></p> -->
</div>
<div style="display:block;padding-left:180px;padding-top:10px;padding-bottom:10px;padding-right:10px;background-color: #e7e8a4;">
  <h5>Starterkit Series: Hacking editors</h5>
  <p>First chapters of this book will be available later in 2016.</p>
  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>
</div>
<div class="breaker"></div>
<br/>
<div style="float:left;padding-top:60px;padding-left:15px;">
  <!-- <img width=150px height=194px src = {{ site.url }}/res/phoenixang2.jpeg alt="TBD" /> -->
  <div style="width:150px; height:194px">Image TBD</div>
  <!-- <p style="font-size:10px;color:#516063;text-align:center";><strong>Planned</strong></p> -->
</div>
<div style="display:block;padding-left:180px;padding-top:10px;padding-bottom:10px;padding-right:10px;background-color: #c0e3e8;">
  <h5>Starterkit Series: Angular 2 with Elixir and Phoenix</h5>
  <p>First chapters of this book will be available later in 2016.</p>
  <br/><br/>  <br/><br/>  <br/><br/> <br/><br/>
</div>
