<header class="header-layout-transparent mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        <div style="float: left; margin-right: 15px;">
            <img src="/res/wl_face_small.jpg"/>
        </div>

        <div>
            <span class="mdl-layout-title" style="margin-bottom: 0px;">Wolfgang Loder</span>
            <span>
                <a class="mdl-navigation__link aboutlink-header" href="/about">About Me</a>
            </span>
        </div>
        <!-- Add spacer, to align navigation to the right -->
        <!-- <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <!-- <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Why a technical Blog?</a>
          <!-- <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a> -->
        <!-- <a class="mdl-navigation__link" href="">About Me</a> -->
        <!-- </nav>  -->
    </div>
</header>
