---
layout: default
---
<div class="content{% if page.photo_url %} photo-post{% endif %}">
  <div class="post single">
    {% unless page.photo_url %}
      <h1>{{ page.title }}</h1>
      {% unless page.ignoredate == 1 %}
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ page.date | date: "%b %d, %Y" }}
        </info>
        {% if page.updated %}
          <info>
            <div>  (updated: {{ page.updated | date: "%b %d, %Y" }})</div>
          </info>
        {% endif %}
      {% endunless %}
    {% endunless %}
    <div class="body">{{ content }}</div>
    <!-- <div class="breaker"></div> -->
    <div class="breaker"></div>

      {% if page.disqus_comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
           /* * * CONFIGURATION VARIABLES * * */
           var disqus_shortname = 'technicalblogkujua';
           var disqus_identifier = '{{page.disqus_identifier}}';
           /* * * DON'T EDIT BELOW THIS LINE * * */
           (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}

  </div>
</div>
